{
	"presets": [

		["es2015",{"loose":true,"modules": false}],

		"react",

		"stage-2",
	 ],

	"env": {
		"development": {
			"presets": ["stage-2","react-hmre"]
		},
	},
	
	"plugins": [
		["import", {"libraryName": "antd", "libraryDirectory": "es", "style": "css"}],
		
	]
}