$itemHeight: 201;
.demo-infinite-container {
	  position: absolute;
	  right: -14px;
	  border-radius: 4px;
	  overflow-x: hidden;
	  padding: 0 10px 120px;
	  height: $itemHeight*6+200px;
	  max-height: $itemHeight*6+200px;
	  width: 100%;
	}

.demo-loading-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}