$fontcolor: #01C8B5;
.priceContainer {
    font: {
        size: 1.2em;

    };
    color: $fontcolor;

    .delPrice {
        color: #9e9e9e;
        padding-left: 2em
    }
}
.ant-card-cover {
	text-align: center;
	.book_pic {
		max-height: 150px;
		display: inline-block;
	}
}
