$fontcolor: #8c8c8c;
$bordercolor: #e2e2e2;
.contentHeader {
	overflow: hidden;
    border-bottom: 1px solid $bordercolor;
    .title {
    	float: left;
    	border-bottom:2px solid #FF9800;
    	font: {
    		weight:bold;
    		size:20px;
    	}
    	color: $fontcolor
    }
    .more {
    	float: right;
    }
}