.appBar{
	display: flex;
	justify-content: space-around;
	background: rgb(54, 62, 55);
	text-align: center;
	box-shadow: rgb(29, 39, 39) 0px 2px 5px;
	padding: 0;
	margin: 0;
	}

.navItem{
	list-style: none;
	width:20%;
	line-height: 3.3em;
	height: 3.3em;
	letter-spacing: 10px;
	color: rgb(226, 105, 17);
	cursor: pointer;
	box-shadow: 2px 0 0px -1px #5d606f;
}