.top_user_info {
	color: #ccc;
	float: right;

	a {
		padding: 0 10px
	}
}
.logo {
	line-height: 0
}


.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
  z-index:"-1"
}