.top_user_info {
	color: #ccc;
	float: right;

	a {
		padding: 0 10px
	}
}
.logo {
	line-height: 0
}

.ant-layout {
	.ant-layout-header,.ant-layout-sider{
		background: #fff,
	}
}


/* -------------公共类样式--------------- */
.inline-li {
	display: inline-block;
	margin-left: 10px;
}