.loginContainer {
	max-width: 800px;
	width: 800px;
	box-shadow: 1px 1px 10px 1px #e2e2e2 inset;
	margin: 10px auto;
	padding: 10px;

	h3 {
		font-size: 2em;
	    border-bottom: 1px dashed #e2e2e2;
	    color: #01C8B5;
	    margin: 0;
	}
}