.bank_container {
	.bank_header {
		margin-bottom: 50px
	}
	.steps-content {
		min-height: 200px;
		padding: 20px;
		margin: 20px;
		.account_type {
			font-size: 60px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 200px;
			margin-bottom: 0;
			.anticon:hover {
				color: #01c8b5;
				box-shadow: 0 0 4px #e2e2e2;
			}
			.anticon-alipay {
				color: #1890FF;
			}
			.anticon-wechat {
				color: green
			}
			.anticon-bank {
				color: red
			}
		}
	}
	.steps-action {
		padding: 0 20px;
	}
}