
/* --------公共类样式----------- */
ul {
	padding-left: 10px;
	margin-bottom: 0
}
.paddingNone {
	padding-left: 0;
	li {
	list-style: none;
	}
}
.inline_li {
	display: inline-block;
	list-style: none;
	padding: 0 10px
}
.inline_li {
	display: inline-block;
}



/* 字体 */
.algin_right {
	text-align: right;
}
.algin_center {
	text-align: center;
}
.text_hidden {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.taxt_blue_color {
	color:#01C8B5;
}
.text_strong {
	color: red;
	font-weight: bold;
}
.letter_spacing {
	letter-spacing: 4px;
}


/* 溢出、清浮动 */
.overflow_hidden {
	overflow: hidden;
}

/*边框*/
.border_all {
	border:1px solid #f1f1f1;
}
.border_bottom {
	border-bottom: 1px dashed #dcdcdc;
}
.border_left_top {
	border-left:1px solid #e2e2e2;
	border-top:1px solid #e2e2e2;
}
/*背景*/
.gray_bgColor {
	background-color: #f0f2f5;
}
.white_bgColor {
	background-color: #fff;
}
.common_bgColor {
	background-color: rgba(165,165,165,0.12);
}
.bg_img {
	background: url("../images/bg_img01.jpg") no-repeat center center;
	background-size: cover;
}
/* 内外边距 */
.padding_all {
	padding:10px;
}
.padding_right_left {
	padding: 0 50px;
}
.margin_all {
	margin: 10px;
}
.margin_left {
	margin-left: 10px;
}
.margin_top {
	margin-top: 10px;
}

/* 浮动 */
.float_right {
	float: right;
}
/* --阴影效果-- */
.box_shadow {
	box-shadow: 0 0 4px 0px #dadada;
}
/* 鼠标hover特效 */
.hover {
	box-shadow: 0 2px 8px transparent;
	transition: all 0.2s ease-in-out;
	&:hover{
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
	}
}
/* 鼠标指针 */
.cursor_pointer {
	cursor: pointer;
}

/* 定位 */
.position_relative {
	position: relative;
	top: 0;
	left:0
}